extends layout

block content
  section.blog               
    h1.title='Blog'
    each dbarticle in articleData
      article   
        img(src=dbarticle.imageURL[0], alt=dbarticle.title)
        .author   
          p=dbarticle.author 
        p.date=`${dbarticle.created.getDate()}.${dbarticle.created.getMonth() < 10 ? "0" + dbarticle.created.getMonth() : dbarticle.created.getMonth()}.${dbarticle.created.getFullYear()}`
        h2=dbarticle.title
        .summary
          p=dbarticle.summary
        button='Czytaj więcej >'
  script(src="javascripts/hamburger.js")

